// colors
$wave-color: #8be8e5;
$primary: #fff;
$secondary: #0c356a;
$accent: #ef5b0c;
$box-shadow: #ddd;
$text-primary: #262626;
$text-secondary: #545454;
$card-heading: #7c73c0;

// fonts
$body-font: "Open Sans", sans-serif;
$heading-font: "Yatra One", cursive;
$heading-secondary-font: "Quicksand", sans-serif;
