@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@700&family=Yatra+One&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

header {
  background: linear-gradient(transparent, #b6fbff);
}

/* navigation */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.navbar .site-logo {
  font-family: "Yatra One", cursive;
  font-size: 1.25rem;
  color: #7c73c0;
  font-weight: 700;
}

.hamburger {
  display: block;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1.25rem;
  color: #7a9d54;
}

.navbar .menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navbar .menu-list li a {
  margin-left: 1em;
  font-size: 1.15rem;
  font-weight: 700;
  color: #94add7;
}

/* Hero Section */

.hero-section {
  background-image: url("images/red-fort.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
  min-height: 85vh;
  padding: 0 1em;
}

h1 {
  font-size: 2.5rem;
  color: #0c356a;
  font-family: "Yatra One", cursive;
  font-weight: 700;
}

h1 div {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #279eff;
  margin-top: -0.25em;
  font-family: "Quicksand", sans-serif;
}

.subtitle {
  margin-top: 1em;
  font-size: 0.95rem;
  letter-spacing: 1px;
  color: #262626;
}

@media (max-width: 540px) {
  .navbar {
    position: relative;
    background-color: #fff;
  }

  .navbar .menu-list {
    position: absolute;
    width: 100%;
    height: 3em;
    left: 0;
    top: 0;
    background-color: #7c73c0;
    transition: top 300ms ease-in-out;
    z-index: -1;
  }

  .navbar .menu-list.show {
    top: 4em;
  }

  .navbar .menu-list li a {
    color: #fff;
  }
}

@media (min-width: 541px) {
  .navbar .site-logo {
    font-size: 1.75rem;
  }

  .hamburger {
    display: none;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
  }

  h1 div {
    font-size: 2.25rem;
  }

  .subtitle {
    font-size: 1.15rem;
    text-align: center;
  }

  .hero-section {
    background-size: contain;
    background-position: 0 100%;
  }
}
